div.tinycar-view-heading {

    position: relative;
    padding: 30px 0px 30px 0px;

    > strong {

        display: block;
        padding: 10px 1px 5px 1px;
        font-size: 1.7em;
        font-weight: 300;

    }

    > div.details {

        padding: 5px 0px 0px 2px;
        color: $main-color-info;
        font-size: 0.9em;
        line-height: 1.4em;

        > span:nth-child(2) {
            text-transform: lowercase;
        }

        > span:nth-child(2):before {
            content: ", ";
        }

    }

    &.has-back {

        position: relative;
        padding-left: 40px;

        > a.tinycar-ui-button {

            position: absolute;
            left: 0px;
            top: 33px;

        }

    }

}
