div#tinycar-main-sidebar {
	
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
	width: 64px;
	height: 100%;
	z-index: 20;
	
	> div.app-icon {
	
		padding: 2px 2px 2px 2px;
		background-color: rgba(0, 0, 0, 0.3);
	
		> span {
			
			display: block;
			height: 60px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain; 
			cursor: default;
			@include border-radius(3px);
	
		}
		
	}
		
	> div.view-actions {
	
		padding: 10px 0px 10px 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		
	}
	
	> div.system-actions {
		padding: 10px 0px 10px 0px;
	}
	
	> div.session-actions {

		position: absolute;
		width: 100%;
		left: 0px;
		bottom: 0px;
		padding: 5px 0px 5px 0px;
		box-sizing: border-box;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		
	}
	
}