div.tinycar-ui-component-actionlist {

    padding: 10px 0px 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
	
    > a.item {
        
        position: relative;
        display: block;
        padding: 10px 4px 10px 0px;
        color: #000000;
        cursor: pointer;
        outline: none;
        @include unselectable();
        
        > span.icon {
            margin: 0px auto 0px auto;
        }
        
        > span.label {
        
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
            padding: 19px 25px 0px 55px;
            box-sizing: border-box;
            height: 100%;
            background-color: #ffffff; 
            font-size: 0.95em;
            line-height: 1.0em;
            white-space: nowrap;
            
            > span.icon {
            
                position: absolute;
                left: 15px;
                top: 10px;
                
            }
            
        }
        
        &:focus,
        &:hover {
        
            color: #000000;
            
            > span.label {
            
                display: block;
                @include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
                
            }
            
        }
        
        &:active {
        
            color: #666666;
            
            > span.label {
            
                display: block;
                @include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
                
            }
            
            > span.label > span.icon {
                opacity: 0.5;
            }
            
        }

	}
    
}

@media (min-width: $view-tablet-width)
{
    div#tinycar-main-sidebar.width-expanded {
    
        div.tinycar-ui-component-actionlist {
        
            > a.item {
                
                color: #ffffff;
                
                > span.icon {
                
                    position: absolute;
                    left: 12px;
                    top: 6px;
                    opacity: 0.5;
                    
                }
                
                > span.label {
                
                    position: relative;
                    display: block;
                    padding: 2px 20px 1px 52px;
                    background-color: transparent;
                    line-height: 1.35em;
                    white-space: normal;
                    @include box-shadow-none();

                    
                    > span.icon {
                        display: none;
                    }
                    
                }
                
                &:focus,
                &:hover {
                
                    background-color: rgba(0, 0, 0, 0.2);
                    text-decoration: none;
                    
                    > span.icon {
                        opacity: 1.0;
                    }
                    
                }
                
                &:active {
                
                    color: #ffffff;
                    background-color: rgba(0, 0, 0, 0.4);
                    
                    > span.icon {
                        opacity: 0.3;
                    }
                    
                }
        
            }
            
        }
        
    }
}