div.tinycar-ui-component-navigationlist {

    padding-top: 15px;

    > div.list {

        border-top: 1px solid lighten($main-color-uigray, 5%);

        > a.item {

            display: block;
            padding: 16px 15px 16px 15px;
            border-bottom: 1px solid lighten($main-color-uigray, 5%);
            color: $main-color-details;
            cursor: pointer;
            outline: none;
            @include unselectable();

            &:focus,
            &:hover {

                color: #000000;
                text-decoration: none;

            }

            &:active {
                color: $main-color-details;
            }

            &.is-active {

                color: #000000;
                background-color: darken($main-color-background, 1%);

            }

        }

    }

}
