div.tinycar-ui-component-text {
	
	> div.type-label {
	}
	
	> div.type-content {
	
		> div.placeholder {
			color: $field-placeholder-color;
		}
		
	}
	
}

div.tinycar-ui-component-group {
    
    div.tinycar-ui-component-text {
        
        > div.type-content {
        
            padding-top: 5px;
            padding-bottom: 5px;
            
        }
        
    }
    
}

@media (min-width: $view-tablet-width)
{
	body.layout-main
	{
		form.tinycar-ui-view.layout-fieldlist {
	
			> div.components {
		
				> div.tinycar-ui-component-text {
				
					> div.type-label {
					
						padding-top: 20px;
						padding-bottom: 10px;
						
					}
						
				}
				
			}
			
		}
	}

}