div.tinycar-ui-component-text {
	
	> div.type-label {
	}
	
	> div.type-content {
	
		> div.placeholder {
			color: $field-placeholder-color;
		}
		
	}
	
}

@media (min-width: $view-tablet-width)
{
	body.layout-main
	{
		form.tinycar-ui-view.layout-fieldlist {
	
			> div.components {
		
				> div.tinycar-ui-component-text {
				
					> div.type-label {
					
						padding-top: 25px;
						padding-bottom: 15px;
						
					}
						
				}
				
			}
			
		}
	}

}